In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("most_backed.csv")

In [3]:
df['title'] = df['title'].str.lower().str.replace('[0-9]|[^\w\s]', '')
df['blurb'] = df['blurb'].str.lower().str.replace('\\n', ' ').str.replace('[0-9]|[^\w\s]', '')

In [4]:
df_title = df['title'].str.split(expand=True).stack().reset_index(name='Word')
df_blurb = df['blurb'].str.split(expand=True).stack().value_counts().rename_axis('Word').reset_index(name='Count')

In [5]:
df_title.head(100)

    level_0  level_1         Word
0         0        0    exploding
1         0        1      kittens
2         1        0       fidget
3         1        1         cube
4         1        2            a
5         1        3        vinyl
6         1        4         desk
7         1        5          toy
8         2        0        bring
9         2        1      reading
10        2        2      rainbow
11        2        3         back
12        2        4          for
13        2        5        every
14        2        6        child
15        2        7   everywhere
16        3        0          the
17        3        1     veronica
18        3        2         mars
19        3        3        movie
20        3        4      project
21        4        0       double
22        4        1         fine
23        4        2    adventure
24        5        0       pebble
25        5        1         time
26        5        2      awesome
27        5        3   smartwatch
28        5        4           no
29        5        5  compromises
..      ...      ...          ...
70       14        3          the
71       14        4        night
72       15        0       joking
73       15        1       hazard
74       16        0         ouya
75       16        1            a
76       16        2          new
77       16        3         kind
78       16        4           of
79       16        5        video
80       16        6         game
81       16        7      console
82       17        0      coolest
83       17        1       cooler
84       17        2           st
85       17        3      century
86       17        4       cooler
87       17        5        thats
88       17        6     actually
89       17        7       cooler
90       18        0    wasteland
91       19        0        bring
92       19        1         back
93       19        2      mystery
94       19        3      science
95       19        4      theater
96       20        0         wish
97       20        1            i
98       20        2          was
99       20        3         here

[100 rows x 3 columns]

In [6]:
with open("stop-word-list.txt","r") as f:
    content = f.read()
    stop_words = content.split('\n')

In [7]:
df_title = df_title[~df_title['Word'].isin(stop_words)]
df_title = df_title[df_title['Word'].str.len() > 1]

df_blurb = df_blurb[~df_blurb['Word'].isin(stop_words)]
df_blurb = df_blurb[df_blurb['Word'].str.len() > 1]

In [8]:
df_title.drop(columns=['level_0', 'level_1'], inplace=True)

df_title.to_csv('title.csv', index=False)
df_blurb.to_csv('blurb.csv', index=False)